<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-R8W169RPHM"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-R8W169RPHM");
    </script>

    <!-- content (HTML5) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="robots"
      content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta name="subject" content="Scarborough Tenants Union'" />
    <meta name="copyright" content="Digital Designers" />
    <link
      rel="shortcut icon"
      href="https://scarboroughtenants.ca/favicon.ico"
      type="image/x-icon"
    />
    <link rel="canonical" href="{{ metadata.url }}" itemprop="url" />
    <meta
      name="keywords"
      content="Scarborough Tenants, Tenants Union, Kiri Vadivelu"
    />

    <!-- favicons (favicon.ico) -->
    <meta name="theme-color" content="#ff0015" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- 11ty (11ty.dev) -->
    <title>{{ title }}</title>
    {% include "components/metadata.njk" %}

    <!-- styles (CSS) -->
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />

    <!-- verification (verify) -->
    <meta name="yandex-verification" content="cfc047ab6c0e470a" />
    <meta name="p:domain_verify" content="dcbdfe521eb082dbb108a118efdbdde3" />
  </head>
  <body id="nightModeDiv" class="">
    {% include "components/navbar.njk" %}
    <main>{{ content }}</main>
    {% include "components/footer.njk" %}
    <script src="{{ '/js/script.js' }}" type="text/javascript"></script>
  </body>
</html>
