<footer>
  <small
    >©
    <script>
      document.write(new Date().getUTCFullYear());
    </script>
    <a href="/privacy">Privacy Policy</a></small
  >

  <small
    >Project by
    <a href="https://digitaldesigners.ca">Digital Designers</a></small
  >
</footer>
