---
permalink: "/humans.txt"
eleventyExcludeFromCollections: true
---

# TEAM
Developer: Kiri Vadivelu <kiri@digitaldesigners.ca>
Company: https://digitaldesigners.ca
GitHub: https://github.com/kiri-vadivelu
Twitter: @kiri_vadivelu
Location: Toronto, Canada

# SYSTEM
Developer: Zach Leatherman <zach@zachleat.com>
Company: https://www.11ty.dev
GitHub: https://github.com/zachleat
Twitter: @zachleat
Location: New York, United States

# ENGINE
Developer: Matt Biilmann <biilmann@netlify.com>
Company: https://www.netlify.com
GitHub: https://github.com/biilmann
Twitter: @biilmann
Location: San Francisco, United States