:root {
  // Typography
  --step--1: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.13rem);
  --step-0: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
  --step-1: clamp(1.33rem, calc(1.11rem + 1.11vw), 2rem);
  --step-2: clamp(1.78rem, calc(1.48rem + 1.48vw), 2.67rem);
  --step-3: clamp(2.37rem, calc(1.97rem + 1.97vw), 3.55rem);
  --step-4: clamp(3.16rem, calc(2.63rem + 2.63vw), 4.74rem);
  --step-5: clamp(4.21rem, calc(3.51rem + 3.51vw), 6.31rem);

  // Properties
  --time: 250ms;
  --function: ease;
  --radius: 0.1em;
  --opacity: 0.85;
  --border: 1px solid;
  --i-shadow: 0px 150px 100px -25px rgba(0, 0, 0, 0.2);
  --b-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  --t-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
  --d-shadow: (0px 0px 10px rgba(0, 0, 0, 0.5));

  // Spacing
  --spacing: clamp(1em, 5%, 3em);
  --spacing-lg: clamp(2em, 10%, 6em);
  --spacing-sm: clamp(0.25em, 1.25%, 0.75em);

  // Theme
  --theme: hsl(355, 100%, 50%);
}

$font-stack: Gill Sans, Helvetica, sans-serif;
$font-light-theme: hsl(0, 0%, 20%);
$background-light-theme: hsl(0, 0%, 98%);

$font-dark-theme: hsl(0, 0%, 98%);
$background-dark-theme: hsl(0, 0%, 20%);

.dark-theme {
  color: $font-dark-theme;
  background-color: $background-dark-theme;

  .nav-list {
    a {
      color: $font-dark-theme;
    }
  }

  a {
    color: $font-dark-theme;
  }

  .links {
    margin: 0;
    color: $font-dark-theme;
  }

  .night-mode-btn {
    color: $font-dark-theme;

    svg {
      fill: $font-dark-theme;
    }
  }

  .link-btn {
    color: $font-dark-theme;
  }

  .blog-single {
    color: $font-dark-theme;
  }

  footer {
    a {
      color: $font-dark-theme;
    }
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

a:link {
  text-underline-offset: 0.25em;
}
